body {
  background-color: #0078aa;
  text-align: center;
  color: #f6f6f6;
  font-family: Comfortaa;
  margin: 0;
  padding: 0;
}

.main-div {
  margin: auto;
  padding: 0 3% 1%;
}

.container {
  padding: 0 15%;
  margin: 3rem auto 2rem;
}

.heading {
  display: inline;
}

.quote {
  font-family: Kalam;
}

.message {
  color: #f2df3a;
}

.name {
  font-family: Kalam;
  text-align: right;
}

.map,
.table {
  text-align: center;
  color: #f6f6f6;
  margin: auto;
}

table {
  margin: auto;
  font-family: Arial;
  padding: 0 1rem;
}

th,
td {
  text-align: center;
  padding: 0 1.5rem;
}

tr {
  height: 2rem;
}

.papaj {
  max-width: 3rem;
  max-height: 3.75rem;
}

.papaj-large {
  max-width: 8rem;
  max-height: 10rem;
  margin: 3% 5% 3% 5%;
}

.left {
  margin-right: 2rem;
}

.right {
  margin-left: 2rem;
}

a {
  color: #f6f6f6;
  text-decoration: none;
}

a:hover {
  color: #f2df3a;
}

@media (max-width: 1200px) {
  .main-div {
    margin: auto;
    padding: 0 0 1%;
  }

  .papaj-large {
    max-width: 8rem;
    max-height: 10rem;
    margin: 5% 8% 5% 8%;
  }

  .container {
    padding: 0 3%;
  }
}

/* Pallette:
https://colorhunt.co/palette/0078aa3ab4f2f2df3af6f6f6 */
