body {
  background-color: lightblue;
  text-align: center;
  padding: 3%;
}

.heading {
  display: inline;
  padding: 1% auto;
}

.map, .table {
  text-align: center;
  margin: auto;
}

table {
  margin: auto;
}

.papaj {
  max-width: 3rem;
  max-height: 3.75rem;
}

.papaj-large {
  max-width: 6rem;
  max-height: 7.5rem;
}
