{% extends "layout.html" %}

{% block content %}
<div>
  <h3>Welcome to</h3>
  <img src="static/papaj.png" alt="" class="papaj heading">
  <h1 class="heading">PapaClock</h1>
  <img src="static/papaj.png" alt="" class="papaj heading">
</div>
<div class="links">
  <a href="{{url_for('meridian')}}" class="heading"><img src="static/papaj.png" alt="" class="papaj-large heading"></a>
  <a href="{{url_for('table')}}" class="heading"><img src="static/papaj.png" alt="" class="papaj-large heading"></a>
</div>
{% endblock %}
