{% extends "layout.html" %}

{% block content %}
<div class="container">
  <h3>Welcome to</h3>
  <img src="static/papaj.png" alt="" class="papaj left heading">
  <h1 class="heading">PapaClock</h1>
  <img src="static/papaj.png" alt="" class="papaj right heading">
</div>
<div class="container">
  <h3 class="quote">"Szukałem Was, a teraz Wy przyszliście do mnie. Za to Wam dziękuję..."</h3>
  <h3 class="name">Jan Paweł II</h3>
</div>
<div class="container">
  <div class="row">
    <div class="col-6">
      <a href="{{url_for('meridian')}}" class="heading"><img src="static/papaj.png" alt="" class="papaj-large heading"></a>
    </div>
    <div class="col-6">
      <a href="{{url_for('table')}}" class="heading"><img src="static/papaj.png" alt="" class="papaj-large heading"></a>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <a href="{{url_for('meridian')}}" class="heading">
        <h2>Solar PapaMeridian</h2>
      </a>
    </div>
    <div class="col-6">
      <a href="{{url_for('table')}}" class="heading">
        <h2>Papa Timezones</h2>
      </a>
    </div>
  </div>
</div>
{% endblock %}
